@{
    ViewData["Title"] = "Admin Dashboard";
}

<h1>Admin Dashboard</h1>

<ul>
    <li><a href="/Admin/Events">Manage All Events</a></li>
    <li><a href="/Admin/Users">Manage Users & Roles</a></li>
</ul>